/* CSS reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a box-sizing rule to all elements */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f6cebc;
  overflow-x: hidden;
  background-image: url(/src/assets/image/hero-pattern.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  padding: 0;
}

/* Tailwind CSS layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles for your application */
@layer base {
  .app {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
